default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  host: postgres
  port: 5432
  username: postgres
  password: easy_password

development:
  <<: *default
  database: municipe_development

test:
  <<: *default
  database: municipe_test

production:
  <<: *default
  database: municipe
