<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá novamente <%= @municipe.nome %> ao municipe</h1>
    <p>
        Esse é um informativo que houve alteração do seu cadastro no municipe
    </p>
    <p>
      Para mais detalhes acesse.....
    </p>
    <p>Obrigado, tenho um otimo dia!</p>
  </body>
</html>